
.manage-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-grow: 1;*/
    width: 100%;
    padding-bottom: 1.5rem;
}

.manage-container-nav {
    display: flex;
    min-width: 14rem;
    width: 20rem;
    flex-shrink: 4;
}

.manage-container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem 4rem;
    background-color: var(--lighter-shade);
    border-radius: 2rem;
    scrollbar-gutter: stable both-edges;
}

.manage-container ul {
    position: relative;
    width: 100%;
    padding: 1rem 1.5rem 0 0;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 400;
    list-style: none;
}

.manage-container ul::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 2.5rem;
    background-color: var(--lightest-shade);
    border-radius: 0.7rem;
    transition: top 0.7s;
    z-index: -1;
}

.manage-container ul.selected-1::after {
    top: 5.5rem;
}

.manage-container ul.selected-2::after {
    top: 8rem;
}

.manage-container ul.selected-3::after {
    top: 10.5rem;
}

.manage-container ul.selected-4::after {
    top: 13rem;
}

.manage-container ul > :first-child {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

.manage-container ul li {
    /*margin: 0.25rem;*/
    padding: 0 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.manage-container ul li.selected {
    /*color: white;*/
    /*background-color: var(--lightest-shade);*/
}

.secondary-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 0.8rem;
    min-width: 20rem;
    /*width: clamp(20rem, 20rem, 100%);*/
    /*background-color: var(--lightest-shade);*/
}

.secondary-container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secondary-container-header p {
    font-size: 2rem;
}

.account-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: var(--lightest-shade);
    box-shadow: 0 2px 5px var(--neautral-shade);
    border-radius: 1rem;
    border: 1px solid var(--neautral-shade);
}

.secondary-container-row,
.account-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
}

.account-form-column span {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 0.2rem;
    padding: 0 0 1rem 0;
}

.account-form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0.2rem;
}

.account-form-column label {
    font-weight: 600;
}

.account-form-column input[type=text],
.account-form-column input[type=password],
.account-form-column input[type=submit] {
    padding: 0.5rem;
    min-width: 100%;
    background-color: var(--lighterer-shade);
    border-radius: 0.5rem;
    border: 1px solid var(--lighter-shade)
}

.account-form-column input[type=submit] {
    min-width: 10rem;
    width: clamp(10rem, 10rem, 100%);
    margin-top: 1rem;
    color: var(--lightest-shade);
    background-color: var(--dark-shade);
    border: 1px solid var(--darkest-shade)
}

.collection:hover, 
.account-form-column input[type=submit]:hover {
    color: var(--darkest-shade);
    background-color: var(--neautral-shade);
}

.tertiary-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--lighterer-shade);
    border-radius: 1rem;
}

.collection {
    color: var(--lightest-shade);
    background-color: var(--dark-shade);
    border: 1px solid var(--darkest-shade)
}

.paint-blotches {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #f7f7f7;*/ /* Set a base color for the background */
    pointer-events: none; /* Make sure the blotches don't interfere with interactions */
}

.paint-blotch {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff7f50; /* Set the paint blotch color */
    opacity: 0.7; /* Adjust the opacity as needed */
    transform: translate(-50%, -50%);
}

/* Optional: Animate the blotches for a dynamic effect */
@keyframes animateBlotches {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
}