html body {
    overflow-x: hidden;
    width: 100vw;
    scrollbar-gutter: stable both-edges;
}

.body-content {
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --bg: #FBFCFE;
    --text: #2E3841;
    --primary: #4A81B5;
    --secondary: #C9D9E9;
    --danger: #b64a4a;
    --accent: #4C6883;
}

.create-form {
    width: clamp(20%, 30%, 90%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0 3rem 0;
}

.collection {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    aspect-ratio: 1.5/1;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    background: var(--secondary);
    border-radius: 5px;
}

.status {
    color: green;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover {
    background: var(--accent);
}

.button-icon {
    font-size: 1.5rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    color: var(--bg);
    border: none;
    text-decoration: none;
    text-align: center;
    background: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}

.button-icon-upload:hover {
    background: var(--accent);
}

.button-icon-trash:hover {
    background: var(--danger);
}

.fa-plus {
    font-size: 2rem;
}

.create-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    width: 5rem;
    aspect-ratio: 1/1;
    color: var(--bg);
    background: var(--primary);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.create-item:hover {
    background: var(--accent);
}

.back-link {
    font-size: 1.5rem;
    color: var(--primary);
    text-decoration: none;
}

.back-link:hover {
    color: var(--accent);
}

.user-collection {
    position: relative;
    cursor: pointer;
}

.user-collection::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFFBB;
    pointer-events: none;
}

.user-collection-selected::after {
    background: none;
}

.item {
    position: relative;
    cursor: pointer;
}

.item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFFBB;
    pointer-events: none;
}

.item-selected::after {
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    border-radius: 2px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    width: 2.5rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
}

.item-quantity {
    position: relative;
}


.counter {
    color: var(--primary);
    font-size: 2rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.counter-add:hover {
    color: var(--accent);
}

.counter-minus:hover {
    color: var(--danger);
}