/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --bg: #FBFCFE;
    --text: #2E3841;
    --primary: #4A81B5;
    --secondary: #C9D9E9;
    --danger: #b64a4a;
    --accent: #4C6883;
}

.create-form {
    width: clamp(20%, 30%, 90%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0 3rem 0;
}

.card-set {
    display: flex;
    padding: 2rem;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    background: var(--secondary);
    border-radius: 5px;
}

.status {
    color: green;
}

.button-icon {
    font-size: 1.5rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    color: var(--bg);
    border: none;
    text-decoration: none;
    text-align: center;
    background: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}

.button-icon-upload:hover {
    background: var(--accent);
}

.button-icon-trash:hover {
    background: var(--danger);
}