@model CollectionSwap.Models.UserCollection
@using CollectionSwap.Models
@{
    ViewBag.Title = "Create";
    var selectedCollection = ViewBag.SelectedCollection as Collection;
    var availableCollections = ViewBag.AvailableCollections as List<Collection>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column">
    <h4>Select a Collection to Start Creating</h4>
    <hr />
    <div class="d-flex flex-row gap-5 flex-wrap">
        @foreach (var collection in availableCollections)
        {
            @Html.ActionLink(@collection.Name, "Create", "UserCollections", new { id = collection.Id }, new { @class = "collection user-collection" })
        }
    </div>

    @if (selectedCollection != null)
    {
        using (Html.BeginForm("Create", "UserCollections", new { id = selectedCollection.Id }, FormMethod.Post, new { role = "form", @class = "mt-3" }))
        {
            @Html.Partial("_Items", selectedCollection)
            <button class="create-item" type="submit">Create</button>
        }
    }
</div>

<div>
    <br />
    <a class="back-link" href="/Manage/Index"><i class="fa fa-arrow-circle-left"></i>&nbsp; Back to Dashboard</a>
</div>


@section scripts {
    <script src="~/Scripts/user-collection-ui.js"></script>    
}