@{
    ViewBag.Title = "Forgot Password";
}

<main aria-labelledby="title">
    <section class="confirm-email-module">
        <div class="row">
            <img src="~/Content/images/doodles/9.png" />
            <div class="body">
                <span class="header">Forgot Password</span>
                <span>We have sent an email to <strong>@ViewBag.EmailRecipient</strong> to reset your password. Please follow the link provided in the email to complete your password reset.</span>
                <hr />
            </div>
        </div>
        <span>If you do not see the email, please check your spam folder.</span>
    </section>
</main>
