@{
    ViewBag.Title = "About";
}

<div id="about-container">
    <section class="column">
        <span class="hero-message"><em class="quote">About</em> Us</span>
        <p>
            Meet the minds behind Swapper: Brent Papuni – Lead Programmer and System Architect, Nelson Ah-Hoi – Programmer and Tester, and Samuel Anderton-Gough – Project Manager and Data Analyst. We are three students currently pursuing our Bachelor of I.T. degrees at Whitireia and WelTec.
        </p>
    </section>

    <section class="mugshots">
        <div>
            <img src="~/Content/images/brent.png" alt="Photo of one of the developers of this website" />
        </div>
        <div>
            <img src="~/Content/images/nelson.png" alt="Photo of one of the developers of this website"/>
        </div>
        <div>
            <img src="~/Content/images/samuel.png" alt="Photo of one of the developers of this website"/>
        </div>

    </section>
</div>
