@{
    ViewBag.Title = "About Us";
}

<div id="about-container">
    <section class="column">
        <span class="hero-message"><em class="quote">About</em> Us</span>
        <div>
            <p>
                Welcome to Swapper! We are on a mission to create a safe and contactless platform where kids can trade collectible items, helping them complete their sets with ease.<br /><br />
                Swapper was born out of the passion to provide a secure space for young collectors.
                Our development team consists of three dedicated undergraduate students from Whitireia and WelTec.
                Swapper is the culmination of our three-year journey, where we get to showcase and apply the knowledge we've gained during our studies.
                We extend our heartfelt gratitude to Whitireia and WelTec for their support in our educational journey and to our visionary client, Robert Sutcliffe, for inspiring this project.
            </p>
        </div>
        <div>
            <p>
                We extend our appreciation to the two previous groups who initiated this project. In 2017, Zilong Li, Yehan Wang, Xiaoyi Wu, and Xinkai Yue laid its initial groundwork, and in 2020, Manal Agrawal and Dhruvit Navadiya contributed to its development.
                While our approach and vision have evolved, their early contributions provided valuable inspiration and insight for Swapper.
                We acknowledge their role in its history and thank them for their efforts.
            </p>
        </div>

        <div>
            <p>
                Finally, We would also like to express our appreciation to local artist, Alissa May <a href="https://www.instagram.com/hello_alissamay/">@Html.Raw("@hello_alissamay")</a> / <a href="https://www.etsy.com/nz/shop/HelloAlissaMay">HelloAlissaMay</a>
                for her incredible graphic contributions that breathe life into our website. The characters you see on Swapper are a testament to her talent and dedication.
            </p>
        </div>
    </section>

    <section class="mugshots">
        <div>
            <img src="~/Content/images/brent.png" alt="Photo of one of the developers of this website" />
            <span><strong>Brent Papuni</strong></span>
            <span>Lead Programmer / System Architect</span>
        </div>
        <div>
            <img src="~/Content/images/nelson.png" alt="Photo of one of the developers of this website" />
            <span><strong>Nelson Ah Hoi</strong></span>
            <span>Programmer / Tester</span>
        </div>
        <div>
            <img src="~/Content/images/samuel.png" alt="Photo of one of the developers of this website" />
            <span><strong>Samuel Anderton-Gough</strong></span>
            <span>Project Manager / Data Analyst</span>
        </div>
    </section>
</div>
