@{
    ViewBag.Title = "Support";
}

<div id="support-container">
    @*<section class="showcase">
        <div class="">
            <svg width="600" height="400" viewBox="30 0 650 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_12_266)">
                    <rect x="61.9851" y="19.8386" width="596.015" height="370.161" rx="10" fill="white" />
                    <rect x="62.4851" y="20.3386" width="595.015" height="369.161" rx="9.5" stroke="#E4E4E7" />
                </g>
                <path d="M62.4851 29.8386C62.4851 24.5919 66.7384 20.3386 71.9851 20.3386H648C653.247 20.3386 657.5 24.5919 657.5 29.8386V58.1894H62.4851V29.8386Z" fill="#F5F5F5" stroke="#E4E4E7" />
                <ellipse cx="88.2591" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <ellipse cx="111.768" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <ellipse cx="135.277" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <rect x="92.408" y="79.1941" width="240.619" height="71.2264" rx="7" fill="#F5F5F5" />
                <rect x="92.408" y="170.925" width="204.664" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="95.1736" y="313.378" width="251.681" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="92.408" y="195.746" width="153.498" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="95.1736" y="338.199" width="189.453" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="359.301" y="79.1941" width="266.893" height="71.2264" rx="7" fill="#F5F5F5" />
                <rect x="359.301" y="170.925" width="227.012" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="359.301" y="195.746" width="170.259" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <defs>
                    <filter id="filter0_d_12_266" x="0.676895" y="0.97456" width="718.631" height="492.778" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dy="42.4441" />
                        <feGaussianBlur stdDeviation="30.6541" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_12_266" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_12_266" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>

        <div class="column">
            <span class="hero-message">Watch and learn how Swapper works</span>
            <p>Proin faucibus nibh et sagittis a. Lacinia purus ac amet pellentesque aliquam enim.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet pellentesque aliquam enim.</p>
        </div>
    </section>*@

    <span class="hero-message">Support</span>

    <section class="quick-start-steps">
        <span class="header">Getting Started Quickly</span>
        <div class="row">
            <div class="column">
                <strong>Step 1: Add a collection</strong>
                <p><a href="/Manage/YourCollections">Create a new collection</a> from the those that we have available and add the items you own to this collection.</p>
            </div>
            <div class="column">
                <strong>Step 2: Add a mailing address</strong>
                <p>Visit your <a href="/Manage/Account">account settings</a> and add a mailing address to receive items you've swapped for.</p>
            </div>
            <div class="column">
                <strong>Step 3: Find Swaps</strong>
                <p>Explore the collectibles available on the <a href="/Manage/FindSwaps">Find Swaps</a> page and make your first request for a swap.</p>
            </div>
        </div>
    </section>

    <section class="faq">
        <span class="header">Frequently Asked Questions</span>
        <div class="column">
            <strong class="faq">Q. I’ve made an account, but I can’t swap!? </strong>
            <p style="display: none">A. To start swapping, you'll need to create a new collection from the provided collections we have available. Following that you'll also need to add a mailing address on your account page. This step is important because it helps us make sure your collectibles reach the right place when you make a swap. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. Can I swap more than one item in a single exchange? </strong>
            <p style="display: none">A. Absolutely! Swappers have the flexibility to swap any number of items in a single exchange as long as they're from the same collection and it's an even exchange (e.g. 2 for 2). </p>
        </div>
        <div class="column">
            <strong class="faq">Q. I’ve requested a swap, what next?</strong>
            <p style="display: none">A. After requesting a swap, the user you're matched with will be asked to accept the swap. No further action is required from you at this stage. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. I’ve accepted a swap, what next?</strong>
            <p style="display: none">A. After accepting a swap request, the user you're matched with will be asked to confirm the swap. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. Why were there no matches found in Find Swaps? </strong>
            <p style="display: none">A. Our system scans all users' collections and attempts to match you with other users who have items that you need and require items that you have duplicates of. If no other users meet these conditions the system will will not return any matches.</p>
        </div>
        <div class="column">
            <strong class="faq">Q. What should I do if I encounter a user who doesn't fulfill their end of the swap? </strong>
            <p style="display: none">A. If you haven't received your items within two weeks, the 'Provide Feedback' action will become available. You may consider leaving negative feedback as a cautionary measure to inform the community and aid others in their future swap decisions.</p>
        </div>
        <div class="column">
            <strong class="faq">Q. Do I have to give feedback after a swap? </strong>
            <p style="display: none">A. Not necessarily, but providing feedback helps build trust in our community and allows other swappers to know about your experience. You do not need to leave any comments you can simply give the user a rating out of five.</p>
        </div>
        <div class="column">
            <strong class="faq">Q. How do I leave feedback for other users? </strong>
            <p style="display: none">A. The 'Provide Feedback' action will become available after you've ticked both the 'Sent' and 'Received' checkboxes in the Swap History table, to confirm that you've sent out your items and received the items you've requested. Alternatively, you can provide feedback once two weeks has passed since the swap was confirmed. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. I have items I no longer need. Can I give these items away? </strong>
            <p style="display: none">A. Of course! Open a collection from the 'Your Collections' page and you'll find a checkbox you can tick to mark that collection for charity. This displays a 'Charity' swap to other users containing ALL the items within your collection, so you should remove any items you do not wish to give away. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. I would like to collect multiple sets of a particular collection, how can I manage that? </strong>
            <p style="display: none">A. Instead of creating one collection with all of your items in it, you can actually create multiple sets of a collection. This allows you to manage each collection independently. </p>
        </div>
        <div class="column">
            <strong class="faq">Q. Is Swapper safe for kids? </strong>
            <p style="display: none">A. While we've taken measures to create a safe environment, we recommend that parents and guardians actively supervise and educate their children about safe online practices.</p>
        </div>
        <div class="column">
            <strong class="faq">Q. Why aren’t the 'Sent' or 'Received' checkboxes working? </strong>
            <p style="display: none">A. These checkboxes only become active once a swap has been confirmed and mailing instructions have been exchanged.</p>
        </div>
        @*<div class="column">
            <strong class="faq">Q. Are there any restrictions on the condition of collectibles for swapping? </strong>
            <p style="display: none">A. Ultimately, it's important to be fair and honest when you're swapping them. We want everyone to have a great time swapping, so please make sure the collectibles you share match their real condition. That way, everyone can enjoy a happy swapping experience! </p>
        </div>*@
        @*<div class="column">
            <strong class="faq">Q. How do I track the status of my swap requests or incoming collectibles? </strong>
            <p style="display: none">A. On the Swap History page you'll be shown your swaps that includes a progress bar: This will indicate at what stage your swap is currently at or if the swap was completed. </p>
        </div>*@
        @*<div class="column">
            <strong class="faq">Q. I have extra cards I don’t want. Can I add them to the swap?  </strong>
            <p style="display: none">A. Of course! Upon the initial swap, you can add the card along with the other cards. But you also have the option to do a charitable swap which can be given to any users that accept the offer. </p>
        </div>*@
    </section>
</div>

@section scripts {
    <script src="~/Scripts/main.js"></script>
}