@{
    ViewBag.Title = "Support";
}

<div id="support-container">
    <span class="hero-message">Support</span>

    <section class="quick-start-steps">
        @*<span class="header">Quick Start Guide</span>*@
        <div class="row">
            <div class="column">
                <strong>Step 1: Add a collection</strong>
                <p><a href="/Manage/YourCollections">Create a new collection</a> from the those that we have available and add the items you own to this collection.</p>
            </div>
            <div class="column">
                <strong>Step 2: Add a mailing address</strong>
                <p>Visit your <a href="/Manage/Account">account settings</a> and add a mailing address to receive items you've swapped for.</p>
            </div>
            <div class="column">
                <strong>Step 3: Find Swaps</strong>
                <p>Explore the collectibles available on the <a href="/Manage/FindSwaps">Find Swaps</a> page and make your first request for a swap.</p>
            </div>
        </div>
    </section>

    <section class="faq">
        <span class="header">Frequently Asked Questions</span>
        <div class="column">
            <strong class="faq">I’ve made an account, but I can’t swap!? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">To begin swapping, first, create a collection from the options we have. Then, go to your account page and add your mailing address. This part is important because it helps us send your collectibles to the correct spot when you swap them.</p>
        </div>
        <div class="column">
            <strong class="faq">Can I swap more than one item in a single exchange? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">Absolutely! Swappers have the flexibility to swap any number of items in a single exchange as long as they're from the same collection and it's an even exchange (e.g. 2 for 2). </p>
        </div>
        <div class="column">
            <strong class="faq">I’ve requested a swap, what next?<i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">After requesting a swap, the user you're matched with will be asked to accept the swap. No further action is required from you at this stage. </p>
        </div>
        <div class="column">
            <strong class="faq">I’ve accepted a swap, what next?<i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">After accepting a swap request, the user you're matched with will be asked to confirm the swap. </p>
        </div>
        <div class="column">
            <strong class="faq">Why were there no matches found in Find Swaps? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">Our system scans all users' collections and attempts to match you with other users who have items that you need and require items that you have duplicates of. If no other users meet these conditions the system will will not return any matches.</p>
        </div>
        <div class="column">
            <strong class="faq">What should I do if I encounter a user who doesn't fulfill their end of the swap? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">If you haven't received your items within two weeks, the option to provide feedback will become available. You may consider leaving negative feedback as a cautionary measure to inform the community and aid others in their future swap decisions.</p>
        </div>
        <div class="column">
            <strong class="faq">Do I have to give feedback after a swap? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">Not necessarily, but providing feedback helps build trust in our community and allows other swappers to know about your experience. You do not need to leave any comments you can simply give the user a rating out of five.</p>
        </div>
        <div class="column">
            <strong class="faq">How do I leave feedback for other users? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">The option to provide feedback will become available after you've ticked both the 'Sent' and 'Received' checkboxes in the Swap History table, confirming that you've sent out your items and received the items you've requested. Alternatively, you can provide feedback once two weeks has passed since the swap was confirmed. </p>
        </div>
        <div class="column">
            <strong class="faq">I have items I no longer need. Can I give these items away? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">Of course! Open a collection from the 'Your Collections' page and you'll find a checkbox you can tick to mark that collection for charity. This displays a 'Charity' swap to other users containing ALL the items within your collection, so you should remove any items you do not wish to give away. </p>
        </div>
        <div class="column">
            <strong class="faq">I would like to collect multiple sets of a particular collection, how can I manage that? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">Instead of creating one collection with all of your items in it, you can actually create multiple sets of a collection. This allows you to manage each collection independently. </p>
        </div>
        <div class="column">
            <strong class="faq">Is Swapper safe for kids? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">
                Absolutely! Swapper is designed with your safety in mind. We have strict rules to prevent hurtful language, discourage in-person meetings, and make sure only collectible items are traded. Your well-being is our top priority, and we work hard to create a safe and fun place for kids like you to trade collectibles.
                <br />
                <br />
                Remember, it's also a good idea to have your parents involved and keep them in the loop about your activities on the website. They can help ensure you have a safe and enjoyable experience here.
            </p>
        </div>
        <div class="column">
            <strong class="faq">Why aren’t the 'Sent' or 'Received' checkboxes working? <i class="fa-solid fa-chevron-down"></i></strong>
            <p style="display: none">These checkboxes only become active once a swap has been confirmed and mailing instructions have been exchanged.</p>
        </div>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/main.js"></script>
}