@{
    ViewBag.Title = "Support";
}

<div id="support-container">
    <section class="showcase">
        <div class="">
            <svg width="600" height="400" viewBox="30 0 650 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_12_266)">
                    <rect x="61.9851" y="19.8386" width="596.015" height="370.161" rx="10" fill="white" />
                    <rect x="62.4851" y="20.3386" width="595.015" height="369.161" rx="9.5" stroke="#E4E4E7" />
                </g>
                <path d="M62.4851 29.8386C62.4851 24.5919 66.7384 20.3386 71.9851 20.3386H648C653.247 20.3386 657.5 24.5919 657.5 29.8386V58.1894H62.4851V29.8386Z" fill="#F5F5F5" stroke="#E4E4E7" />
                <ellipse cx="88.2591" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <ellipse cx="111.768" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <ellipse cx="135.277" cy="39.2641" rx="6.91433" ry="5.39594" fill="#E4E4E7" />
                <rect x="92.408" y="79.1941" width="240.619" height="71.2264" rx="7" fill="#F5F5F5" />
                <rect x="92.408" y="170.925" width="204.664" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="95.1736" y="313.378" width="251.681" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="92.408" y="195.746" width="153.498" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="95.1736" y="338.199" width="189.453" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="359.301" y="79.1941" width="266.893" height="71.2264" rx="7" fill="#F5F5F5" />
                <rect x="359.301" y="170.925" width="227.012" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <rect x="359.301" y="195.746" width="170.259" height="11.8711" rx="5.93553" fill="#F5F5F5" />
                <defs>
                    <filter id="filter0_d_12_266" x="0.676895" y="0.97456" width="718.631" height="492.778" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dy="42.4441" />
                        <feGaussianBlur stdDeviation="30.6541" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_12_266" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_12_266" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>

        <div class="column">
            <span class="hero-message">Watch and learn how Swapper works</span>
            <p>Proin faucibus nibh et sagittis a. Lacinia purus ac amet pellentesque aliquam enim.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet pellentesque aliquam enim.</p>
        </div>
    </section>

    <section class="quick-start-steps">
        <span class="header">Quick Start</span>
        <div class="row">
            <div class="column">
                <strong>Step 1: Add a collection</strong>
                <text><a href="/Manage/YourCollections">Create a new collection</a> and add the collectibles you currently own to this collection.</text>
            </div>
            <div class="column">
                <strong>Step 2: Add a mailing address</strong>
                <text>Visit your <a href="/Manage/Account">account settings</a> and add a mailing address to receive items you've swapped for.</text>
            </div>
            <div class="column">
                <strong>Step 3: Find Swaps</strong>
                <text>Explore the collectibles available on the <a href="/Manage/FindSwaps">Find Swaps</a> page and make your first request for a swap.</text>
            </div>
        </div>
    </section>

    <section class="faq">
        <span class="header">Frequently Asked Questions</span>
        <div class="column">
            <strong>Q. Is Swapper safe for kids? </strong>
            <text>A. While we take these measures to create a safe environment, we also recommend that parents and guardians actively supervise and educate their children about safe online practices.</text>
        </div>
        <div class="column">
            <strong>Q. How do I leave feedback for other users after a swap? </strong>
            <text>A. After the swap is completed, under swap history you'll now have the option to leave feedback. Click the feedback button under the next action and you'll be redirected to the feedback page. You have the option to leave a start rating out of 5 on overall exchange + comments about the trade using pre-defined positive and negative messages. </text>
        </div>
        <div class="column">
            <strong>Q. Can I swap multiple collectibles in a single trade? </strong>
            <text>A. Absolutely! Swappers have the flexibility to swap any number of cards in a single trade. There's no limit to how many cards you can exchange at one time on our platform. </text>
        </div>
        <div class="column">
            <strong>Q. Are there any restrictions on the condition of collectibles for swapping? </strong>
            <text>A. Ultimately, it's important to be fair and honest when you're swapping them. We want everyone to have a great time swapping, so please make sure the collectibles you share match their real condition. That way, everyone can enjoy a happy swapping experience! </text>
        </div>
        <div class="column">
            <strong>Q. I’ve accepted the swap now what?</strong>
            <text>A. Under swap history, you'll be prompted with the next stage of the swap: Requirements for the next stage will be shown to you. </text>
        </div>
        <div class="column">
            <strong>Q. What should I do if I encounter a user who doesn't fulfill their end of the swap? </strong>
            <text>A. If the issue persists and the other user fails to fulfill their end of the swap despite attempts to resolve it, you can consider leaving negative feedback. This feedback serves as a valuable warning to the community, helping others make informed decisions when considering swaps with that user in the future. </text>
        </div>
        <div class="column">
            <strong>Q. How do I track the status of my swap requests or incoming collectibles? </strong>
            <text>A. Yes! Under swap history you'll be shown your swaps that includes a progress bar: This will indicate at what stage your swap is currently at or if the swap was completed. </text>
        </div>
        <div class="column">
            <strong>Q. I have extra cards I don’t want. Can I add them to the swap?  </strong>
            <text>A. Of course! Upon the initial swap, you can add the card along with the other cards. But you also have the option to do a charitable swap which can be given to any users that accept the offer. </text>
        </div>
        <div class="column">
            <strong>Q. I have more than one child that is looking for cards, how can I manage that? </strong>
            <text>A. You can manage each child individually by creating multiple sets of the same collection: This allows for easier overview of each set and can manage quantity for each kid. </text>
        </div>
        <div class="column">
            <strong>Q. Why isn’t the item sent button working?  </strong>
            <text>A. The item sent button becomes active and clickable once both you and your swap partner have accepted the swap. </text>
        </div>
        <div class="column">
            <strong>Q. I’ve made an account, but I can’t swap!? </strong>
            <text>A. To start swapping, you'll need to set up a mailing address on your account page. This step is important because it helps us make sure your collectibles reach the right place when you make a swap. </text>
        </div>
        <div class="column">
            <strong>Q. Do I have to give feedback after a swap? </strong>
            <text>A. No, you're not required to leave feedback after a swap, but we highly recommend it. Leaving feedback helps build trust in our community and allows other swappers to know about your experience </text>
        </div>
    </section>
</div>