@model CollectionSwap.Models.PromptViewModel

<div class="prompt-container d-none">
    <div class="prompt">
        <span class="header">@Model.Title</span>
        <div class="body">@Html.Raw(@Model.Body)</div>
        <span class="controls">
            <button class="submit-button clear" onclick="Prompt(this, false)">Cancel</button>
            <button class="submit-button" onclick="@Html.Raw(Model.Action)">Continue</button>
        </span>
    </div>
</div>
