@model string
@using System.Web.Hosting
@using Newtonsoft.Json
@{
    string jsonFilePath = HostingEnvironment.MapPath("~/Content/tooltips/tooltips.json");
    string jsonContent = System.IO.File.ReadAllText(jsonFilePath);
    var tooltips = JsonConvert.DeserializeObject<Dictionary<string, Dictionary<string, string>>>(jsonContent);

    string tooltipKey = Model;
    var tooltipTitle = tooltips.ContainsKey(tooltipKey) ? tooltips[tooltipKey]["title"] : null;
    string[] lines = tooltips.ContainsKey(tooltipKey) ? tooltips[tooltipKey]["content"].Split('\n') : null;
    string tooltipContent = lines == null ? Model : string.Join("<br />", lines);
}

<div class="tooltip-content" style="@Html.Raw($"width: {Math.Min(tooltipContent.Length / 2, 20)}rem")">
    @if (tooltipTitle != null)
    {
        <strong>@tooltipTitle</strong>
    }
    @Html.Raw(tooltipContent)
</div>