@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@if (ViewBag.errorMessage.Contains("confirm your email"))
{
    <div class="confirm-email-warning-container">
        <div class="warning">
            <span class="header warning"><i class="fa-solid fa-circle-exclamation"></i>@ViewBag.errorMessage</span>
            <span>We have sent an email to <strong>@ViewBag.EmailRecipient</strong> to confirm your identity. Please follow the link provided in the email to complete your registration.</span>
        </div>
    </div>
}
else
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">@ViewBag.errorMessage</h2>
}

