
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ConfirmEmail == null)
{
    <section class="confirm-email-module">

    </section>
    @*<h3 class="status-message">@ViewBag.ConfirmEmail</h3>*@
}

