
@{
    ViewBag.Title = ViewBag.EmailRecipient != null ? "Email Confirmation" : "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.EmailRecipient != null)
{
    <section class="confirm-email-module">
        <div class="row">
            <img src="~/Content/images/doodles/9.png" />
            <div class="body">
                <span class="header">Email Confirmation</span>
                <span>We have sent an email to <strong>@ViewBag.EmailRecipient</strong> to confirm your identity. Please follow the link provided in the email to complete your registration.</span>
                <hr />
            </div>
        </div>
    <div>
        <strong>Important Information:</strong>
        <br />
        Welcome to Swapper, our collectibles trading platform for kids!<br />
        We're committed to creating a safe and enjoyable trading experience for all our users.<br />
        To ensure everyone's well-being, please be aware of the following guidelines:

        <ul>
            <li>
                <strong>Preventing Inappropriate Language:</strong> Swapper actively prevents users from leaving hurtful or inappropriate language. We prioritize a friendly and respectful environment, and freeform text communication is not supported.
            </li>
            <li>
                <strong> Contactless Trading:</strong> For the safety of all users, Swapper strictly prohibits in-person exchanges. Do not arrange to meet with other users or include identifying information or personal contact details in your trades.
            </li>
            <li>
                <strong>Item Exchange Only:</strong> Swapper is designed solely for the exchange of collectible items. Please refrain from including any items or content that may be considered unsafe.
            </li>
        </ul>

        By registering on Swapper, you agree to adhere to these guidelines and help us maintain a secure and enjoyable trading environment for kids.
        <br/>
        <br/>
        Thank you for being a part of our community!
    </div>
    </section>
    @*<h3 class="status-message">@ViewBag.ConfirmEmail</h3>*@
}

