@using CollectionSwap.Models
@{
    ViewBag.Title = "SwapHistory";
    var userSwaps = ViewBag.UserSwaps;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Swap History</h2>

<div class="tertiary-container">
    @foreach (Swap swap in userSwaps)
    {
        @Html.Partial("_PastSwap", swap);
    }
</div>