@model CollectionSwap.Models.SwapViewModel
@{
    ViewBag.Title = "Find Swaps";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    <div>
        <h5>Select a collection to find swaps for:</h5>
        <hr />
        <div class="d-flex gap-5">

            @foreach (var userCollection in Model.UserCollections)
            {
                <div class="d-flex flex-column align-items-center">
                    @Html.ActionLink(userCollection.Name, "Index", "Swap", new { id = userCollection.CollectionId }, new { @class = "collection user-collection" })
                </div>
            }
        </div>
    </div>
</main>

@section scripts {
    <script>
        var id = window.location.href.split("Index/")[1];
        var selectedCollection = $(`[href='/Swap/Index/${id}']`);

        if (selectedCollection.length) {
            selectedCollection.addClass("user-collection-selected")
        }
    </script>
}