@model CollectionSwap.Models.ManageCollectionsViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json
@{ 
    string action = ViewContext.RouteData.Values["action"] as string;
    var heading = action == "YourCollectionsPartial" ? "Create a New Collection" : "Available Collections";
}
<div id="available-collections-container">
    
</div>