@model CollectionSwap.Models.YourCollectionViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json

<div class="row">
    <button class="scroll-row-button" onclick="ScrollRowBack(null)"><i class="fa fa-angle-left"></i></button>

    <span class="header">
        Create a New Collection
    </span>
</div>

<section class="min-width-100 gap-2">
    @foreach (var collection in Model.Collections)
    {
        var collectionButton = new CollectionButton
        {
            Id = collection.Id,
            Name = collection.Name,
            Description = collection.Description,
            ItemList = JsonConvert.DeserializeObject<List<string>>(collection.ItemListJSON),
            Type = "CreateUserCollection"
        };
        using (Html.BeginForm("CreateUserCollection", "Manage", FormMethod.Post))
        {
            @Html.Hidden("id", collection.Id);
            <button class="collection-button">
                @Html.Partial("_CollectionButton", collectionButton)
            </button>
        }
    }
</section>