@model CollectionSwap.Models.Swap
@using CollectionSwap.Models
@using Newtonsoft.Json

<div class="row">
    <button class="scroll-row-button" onclick="ScrollRowBack(this)"><i class="fa fa-arrow-left"></i></button>

    <span class="header">
        Swap Feedback
    </span>
</div>