@model CollectionSwap.Models.FindSwapsViewModel
@using CollectionSwap.Models
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Find Swaps";
    var userSwaps = Model.UserSwaps;
    //var matchingSwaps = Model.MatchingSwaps;
    var matchingSwapViews = Model.MatchingSwapViews;
    var selectedCollection = ViewBag.SelectedCollection;
    string statusMessage = ViewBag.Status;
}

<div id="find-swaps-container" class="@(matchingSwapViews == null || matchingSwapViews.Count == 0 ? "no-swaps" : "")">
    @if (!String.IsNullOrEmpty(statusMessage))
    {
        <div class="status-message">@statusMessage</div>
    }
    <span class="header">Find Swaps</span>
    <section class="column">
        <h3>Select a collection to find swaps for:</h3>
        <br />
        <div class="row gap-2">
            @foreach (UserCollection userCollection in Model.UserCollections)
            {
                @Html.ActionLink(userCollection.Name, "FindSwaps", "Manage", new { id = userCollection.Id }, new { @class = $"submit-button user-collection {(selectedCollection != null && userCollection.Id == selectedCollection.Id ? "selected" : "")}" })
            }
        </div>
        <br />

        @*Available Swaps*@
        @if (matchingSwapViews != null)
        {
            if (matchingSwapViews.Count > 0)
            {
                <div class="column gap-1 min-width-100">
                    <h3>Available Swaps:</h3>

                    @for (int i = 0; i < matchingSwapViews.Count; i++)
                    {
                        @Html.Partial("_Swap", matchingSwapViews[i]);
                    }
                </div>
            }
            else
            {
                <div class="swap-none-found">
                    <img src="~/Content/images/doodles/14.png" />
                    <span>Sorry, no macthes found</span>
                </div>
            }
        }
    </section>
</div>
