@model CollectionSwap.Models.ManageCollectionsViewModel

<div id="manage-collections-container" class="secondary-container">
    @Html.Partial("_CreateCollection", Model)
    @Html.Partial("_AvailableCollections", Model)
    <div id="edit-collection-container">
        @if (Model.EditCollection != null)
        {
            @Html.Partial("_EditCollection", Model.EditCollection)
        }
    </div>
</div>