<div class="scroll-snap-row">
    <div id="history-container">
        <span class="header">Swap History</span>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Collection</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Date Completed</th>
                        <th>Provide Feedback</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Women of History</td>
                        <td>bpapuni</td>
                        <td>Sent</td>
                        <td>16/08/2023</td>
                        <td>Outstanding</td>
                        <td><a href="#">Please Provide</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>