@model CollectionSwap.Models.YourCollectionViewModel
@using CollectionSwap.Models
@using Newtonsoft.Json
<div id="your-collections-container" class="secondary-container">
    @{
        var mcViewModel = new ManageCollectionsViewModel
        {
            Collections = Model.Collections
        };
    }
    <div id="create-user-collection-container" style="display: none">
        @Html.Partial("_AvailableCollections", mcViewModel)
    </div>
    <div class="secondary-container">
        <div class="secondary-container-header">
            <p>Your Collections</p>
        </div>

        <div class="secondary-container-row">
            <div class="tertiary-container">

                @foreach (var userCollection in Model.UserCollections)
                {
                    var collection = Model.Collections.Where(c => c.Id == userCollection.CollectionId).FirstOrDefault();
                    var deserializedItemListJSON = JsonConvert.DeserializeObject<List<string>>(collection.ItemListJSON);
                    var userItemList = JsonConvert.DeserializeObject<List<int>>(userCollection.ItemCountJSON)
                                                    .Select((value, index) => new { Value = value, Index = index })
                                                    .Where(item => item.Value > 0)
                                                    .Select(item => item.Index)
                                                    .ToList();

                    var collectionButton = new CollectionButton
                    {
                        Id = userCollection.CollectionId,
                        Name = userCollection.Name,
                        href = Url.Content($"/Manage/YourCollections/{userCollection.Id}"),
                        ItemList = userItemList.Select(index => deserializedItemListJSON[index]).ToList()
                    };

                    @Html.Partial("_CollectionButton", collectionButton)
                }

                @{
                    var createCollectionButton = new CollectionButton
                    {
                        Id = 0,
                        Name = "Create Collection",
                        href = "/Manage/YourCollections/#",
                        ItemList = new List<string>(),
                        onClick = "$('#create-user-collection-container').slideDown()"
                    };
                }
                @Html.Partial("_CollectionButton", createCollectionButton)
            </div>
        </div>
    </div>
    <div id="user-collection-container">
        @if (Model.EditCollection != null)
        {
            @Html.Partial("_UserCollection", Model.EditCollection)
        }
    </div>
</div>